/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
html {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-display: auto;
  margin: auto;
  background: white !important;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
small,
p {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

::-webkit-input-placeholder {
  font-weight: lighter;
  font-family: 'Lato';
}
/*
::-moz-placeholder {
  font-weight: lighter;
  font-family: 'Lato';
}

::-ms-placeholder {
  font-weight: lighter;
  font-family: 'Lato';
} */

::placeholder {
  font-weight: lighter;
  font-family: 'Lato';
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e8e9ff
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5
}

::-webkit-scrollbar-thumb {
  background-color: #0b273e
}

.header {
  position: sticky;
  /* width: 100%; */
  background: white;
      padding:0.75rem 0rem;
  top: 0;
  z-index: 100;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hidden-header {
  opacity: 0;
  visibility: hidden;
}

header.header>div {
  transition: all 0.5s ease-in-out;
}

.carousel-item .carousel-indicators {
  position: relative;
  margin-left: 1%;
  bottom: unset;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}

.carousel-indicators button {
  width: 15px !important;
  margin: auto 1rem auto 0rem !important;
  height: 15px !important;
  border: none !important;
  box-sizing: border-box !important;
  border-radius: 50% !important;
  background-color: rgb(142 142 142) !important;
  margin: 0 4px;
}

.carousel-indicators .active {
  background-color: rgb(24, 18, 184);
}

.sticky-menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  background: #f2f4f8 !important;
  width: 100% !important;
  height: 89px !important;
  margin: 0 !important;
}

.scroll-item {
  height: max-content;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
}

.selectedSubHeading {
  color: rgb(19, 100, 241) !important;
  font-weight: 700 !important;
  border-bottom: 1px solid rgb(19, 100, 241) !important;
}

.btnArrow {
  font-size: 20px;
  margin-left: 8px
}

.bannerDemoBtn {
  min-height: 46px;
  width: auto;
  cursor: pointer;
  background-color: rgb(0 0 0);
  display: flex;
  border-radius: 40px;
  border-style: solid;
  padding: 0px 30px;
  align-items: center;
  text-decoration: none;
  color: white;


  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  text-decoration-line: none;
  line-height: 1.5rem;
}

.bannerHeading {
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 2.1rem;
  margin-bottom: 1rem;
  font-style: normal;
  color: #3c4043;
  text-decoration-line: none;
  line-height: 3.75rem;
}

.BanHeadMain {
  font-weight: 700;
  font-size: 2.8rem;
}

.highlight {
  color: black;

}

.Mainlogo {
  width: 11rem;
  cursor: pointer;
}

.headerValue {
  color: rgb(4 43 71) !important;
  font-weight: normal;
  font-size: 16.5px;
  text-transform: none;
  margin-left: 2rem;
  font-style: normal;
  text-decoration-line: none;
  cursor: pointer;
}

/* .carousel-item {
  display: flex !important;
  align-items: center !important;
} */

.headerValue.active {
  font-weight: bold;
  color: #166b6d !important;
}

.colorBgFeature {
  padding: 2.6rem 4rem 0rem 4rem;
  background: white;
  border-radius: 4px;
}

.bpFocus {
  color: rgb(1, 178, 86);
}
/*
.contactBanner {
  display: block;
  margin: auto;
  width: 80%;
} */

.contactBtn {
  margin-top: 2.5rem;
}

.featureCardOuter {
  display: flex;
  /* display: none !important; */
  flex-direction: row;
  justify-content: flex-start;
  padding: 1.5rem 4rem 2rem 4rem;
  background: white;
  border-radius: 4px;

}

.selectedRow {
  display: flex;
}

.featureCard {
  box-shadow: rgba(19, 38, 68, 0.1) 0px 4px 8px -2px, rgba(19, 38, 68, 0.06) 0px 2px 4px -2px;
  background: white;
  cursor: pointer;
}

.featureSubHead {
  color: rgb(137, 150, 169);
  font-size: 0.875rem;
  padding: 16px 0rem 12px 0rem;
  font-weight: 500;
  min-width: fit-content;
  cursor: pointer;
  font-style: normal;
  margin-right: 3rem;
  text-decoration-line: none;
}

.featureSubHeading {
  display: flex;
  border-bottom: 1px solid rgba(120, 134, 155, 0.18);
}

.featureText {
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  color: rgb(94, 110, 135);
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.35rem;
}

.contactHeading {
  color: rgb(19, 38, 68);
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
  font-weight: 700;
}

.footerUl {
  list-style-type: none;
  padding: initial;
  margin: auto;
}

.footerHeading {
  color: black;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;

}

.footerLi {
  color: rgb(4 46 68);
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.88rem;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: none;
  line-height: 1.25rem;
}

.inputText {
  outline: none;
  width: 70%;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 17.5px;
  padding-bottom: 0.2rem;
  margin: 2rem 0rem 0rem 0rem;
  border-bottom: 1px solid #c9c9c9 !important;
  border: none;
  text-transform: capitalize;
  background: transparent;
  letter-spacing: 0.25px;

}

.contactsubHeading {
  font-size: 16.6px;
  line-height: 1.6rem;
  color: #3c4043;
}

.featureSupHead {
  color: rgb(19, 38, 68);
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-decoration-line: none;
  line-height: 2.5rem;
}

.featureHeading {
  margin: auto;
  overflow: hidden;
text-overflow: ellipsis;
text-wrap: nowrap;

  padding: 0.8rem 0.7rem 0.5rem 0.7rem;
  color: rgb(19, 38, 68);
  font-size: 1.1rem;
  font-weight: 600;
}
/*
.bannerImg {
  width: 100%;
  display: block;
  margin: auto;
} */

.featureImg {
  width: 100%;
  display: block;
  min-height: 16rem;
  margin: auto;
}

.featureBG {
  background: #f2f4f8;
  /* background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); */
  /* background: white; */
}

.miindia {
  margin-top: 2.2rem;
}

.socialImg {
  display: block;
  margin: auto;
  width: 28px;
}

.socialOuter {
  display: inline-flex;
}

.addressSpace {
  margin: 0.70rem 0 0 0;
}

.address {
  color: rgb(4 43 71);
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.80rem;
  line-height: 1.02rem;
  text-align: justify;
}

.MainbannerOuter {
  min-height: auto;
  align-content: center;
}

.carousel-item {
  min-height: 76vh;
  align-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bgBanner {
  background-image: linear-gradient(black, white);

  background-image: url(../assets/111.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

}

.bgBanner2 {
  background-image: url(../assets/444.webp) !important;
}

.bgBanner3 {
  background-image: url(../assets/3333.webp) !important;
}

.bannerOuter {
  min-height: 100vh;
  align-content: center;
}


.secureBoxOuter {
  padding: 0rem 1rem;
  height: fit-content;

}

.secureImg {
  width: 40px;
  margin-bottom: 1.1rem;
}

.secureHead {
  font-size: 19px;
  line-height: 25px;
  color: #000;
  font-weight: 600;
}

.secureHeading {
  color: rgb(19, 38, 68);
  font-size: 2.7rem;
  font-weight: 600;
  font-style: normal;
}

.secureText {
  font-size: 17px;
  line-height: 1.40;
}

.secureOuter {
  flex-wrap: nowrap;
  padding: 5rem 0rem;
  text-align: -webkit-center;
}
/*
.reasonOuter {
  flex-wrap: wrap;
} */

.withIsikko {
  font-style: normal;
  padding-right: 2rem;
  border-right: 1px solid rgba(120, 134, 155, 0.18);
  color: rgb(69 69 69);
  font-size: 0.95rem;
  font-weight: 400;
}

.reasonSectionOuter {
  background: #f7f7f7;
}

.reasonImg {
  margin: auto;
  width: 70%;
  display: block;

}

.imgReason {
  display: block;
  width: 80px;
}

.subHeadingWhy {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  letter-spacing: .2px;
}

.responseDescription {
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
  text-align: justify;
  color: rgb(94, 110, 135);
}

.reasonExpOuter {
  padding: 2rem !important;
  background: white;
  border-radius: 10px;
}
.map
{
  width: -webkit-fill-available;
  height: 230px;

}
.reasonHeading {
  font-size: 22px;
  line-height: 1.28;
  font-weight: 600;
}
.inputText
{
  width:-webkit-fill-available;
}
/* .reasonImgOuter {
  padding: 6rem 0rem;
} */

.lookingFor {
  color: rgb(19, 38, 68);
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  text-decoration-line: none;
}

.withOuter {
  margin: 3rem 0rem 3.2rem 0rem;
}

.withIsikkoLabels {
  color: #6e7b8f;
  font-size: 0.94rem;
  font-weight: 600;
  margin-left: 2.1rem;
  cursor: pointer;
  font-style: normal;
  text-decoration-line: none;
}

.activeClass {
  color: black;
  /* text-decoration: underline; */
}

.menuIcon {
  height: 28px;
}

.ulHeader {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.fw-600 {
  font-weight: 600;
}

@media (min-width: 768px) {
  .dbn {
    display: none;
  }
}

@media (max-width: 768px) {
  .ulHeader {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .menuToggle {
    display: block;
  }

  .ulHeader.show {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {


  .subHeadingWhy {
      font-size: 12px;
    }



  .imgReason {
      width: 40px;
      margin-top: 1rem;
  }




  .reasonExpOuter {
    padding: 0rem 0.75rem !important;
    display: inline-block !important;
  }

  .responseDescription {
    font-size: 0.85rem;
  }

  .reasonHeading {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .reasonMasterH {
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.25px;
    font-size: 1.4rem;
  }

  .reasonImg {
    width: -webkit-fill-available;
    max-height: 14rem;
  }

  /* .reasonImgOuter {
    padding: 1rem 0rem;
  } */

  .colorBgFeature {
    background: #042b47;
    padding: 0.4rem 0.7rem 0.55rem 0.7rem;
  }

  .featureCount {
    color: white;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  .lookingFor {
    font-size: 1.90rem;
    line-height: 2.65rem;
    display: flex;
    margin: auto;
    padding: 2.25rem 0.5rem 1rem 0.8rem;
  }

  .selectedSubHeading {
    color: white !important;
    border-bottom: 1px solid white !important;
  }

  .featureSubHead {
    padding: 8px 0rem 8px 0rem;
    margin-right: 2rem;
    font-size: 0.82rem;
  }

  .featureSupHead {
    font-size: 1.35rem;
    margin: 0.2rem 0rem 0rem 0rem;
    color: white;
  }

  .withOuter {
    margin: auto;
  }

  .withIsikko {
    padding-left: 0.8rem;
    display: inline;
    border: none;
    color: rgb(19, 38, 68);
    font-size: 0.95rem;
    font-weight: 400;
  }

  .bannerDemoBtn {
    min-height: 40px;
    font-size: 0.875rem;
  }

  .bannerHeading {
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 600;
  }

  .Mainlogo {
    width: 8.6rem;
    cursor: pointer;
  }

  .mbn {
    display: none !important;
  }

  .featureHeading {
    font-size: 0.875rem;
    font-weight: 700;
    font-style: normal;
    text-decoration-line: none;
    padding: 0.85rem 0.8rem 0.5rem 0.8rem;
    line-height: 1.25rem;
    padding-bottom: 0.30rem;
  }

  .featureText {
    font-size: 0.75rem;
    margin: auto;
            min-height: 6.22rem;
  }

  .featureImg {
    height: 10rem;
    min-height: auto;
  }

  .horScroll {
    scrollbar-width: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: auto;
    scroll-behavior: smooth;
  }

  .featureCardOuter {
    padding: 0rem;
  }

  .featureCard {
    border: 1px solid rgba(120, 134, 155, 0.18);
    border-top: none;
    box-shadow: none;
    cursor: pointer;
  }

  .featureCardSuperOuter {
    margin: auto;
  }

  .secureHeading {
    font-weight: 500;
    line-height: 1.4;
    font-size: 1.25rem;
  }

  .secureImg {
    width: 26px;
    margin-bottom: 0.75rem;
  }

  .secureHead {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }

  .secureBoxOuter {
    padding: 0rem;
    width: 50%;
  }

  .secureText {
    font-size: 13.4px;
    line-height: 1.4;
    padding: 0rem 1rem;
    margin-bottom: 1.2rem;
    padding: 0rem 0.4rem 0.8rem 0.4rem;
    color: rgb(94, 110, 135);
  }

  .secureOuter {
    padding: 1.75rem 0rem 0rem 0rem;
    flex-wrap: wrap;
  }




}

#br0,
#br1,
#br2,
#br3,
#br4,
#br5,
#br6,
#br7,
#bookings,
#payments {
  display: none;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.caption {
  z-index: 1;
  position: relative;
  padding-left: 3rem;

}
